<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114011865832-0oe1pg53rlr9ia2g9oblmr2858qdn3ab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114011865832-0oe1pg53rlr9ia2g9oblmr2858qdn3ab</string>
	<key>API_KEY</key>
	<string>AIzaSyAccyccpGUA6jXB94dNdQ1SYAK8Fv-afSE</string>
	<key>GCM_SENDER_ID</key>
	<string>114011865832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>VKSiriusTeam4.ArtDeFond</string>
	<key>PROJECT_ID</key>
	<string>artdefond</string>
	<key>STORAGE_BUCKET</key>
	<string>artdefond.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114011865832:ios:652dc286a7383f0699ff5d</string>
</dict>
</plist>